In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/energydata_complete.csv', parse_dates=[0])
df.head(2)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

##### Question 12

In [3]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import r2_score

In [8]:
linear_model = LinearRegression()

In [9]:
x = df['T2'].values.reshape(-1, 1)
y = df['T6'].values.reshape(-1, 1)

In [10]:
linear_model.fit(X=x, y=y)

LinearRegression()

In [11]:
predicted_values = linear_model.predict(x)

In [12]:
round(r2_score(y, predicted_values), 2)

0.64

##### Question 13

In [13]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge, Lasso

In [14]:
df.head(2)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [15]:
x = df.loc[:, 'T1':]
x.head(2)

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,45.566667,17.166667,55.2,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,45.992500,17.166667,55.2,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [16]:
y = df['Appliances']
y.head(2)

0    60
1    60
Name: Appliances, dtype: int64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=42, test_size=0.3)

In [18]:
linear_model1 = LinearRegression()

In [19]:
linear_model1.fit(X_train, y_train)

LinearRegression()

In [20]:
predicted_values1 = linear_model1.predict(X_test)

In [21]:
round(mean_absolute_error(y_test, predicted_values1), 2)

53.64

##### Question 14

In [22]:
rss = np.sum(np.square(y_test - predicted_values1))
round(rss, 2)

51918501.21

##### Question 15

In [23]:
from sklearn.metrics import mean_squared_error

In [24]:
mse = mean_squared_error(y_test, predicted_values1)
rmse = np.sqrt(mse)
round(rmse, 3)

93.64

##### Question 16

In [25]:
cod = r2_score(y_test, predicted_values1)
round(cod, 2)

0.15

##### Question 17

In [26]:
min_coef_index, max_coef_index = linear_model1.coef_.argsort()[0], linear_model1.coef_.argsort()[-1]

In [27]:
X_train.columns[min_coef_index], X_train.columns[max_coef_index]

('T9', 'T3')

##### Question 18

In [28]:
linear_model2 = Ridge(alpha=0.4)

In [29]:
linear_model2.fit(X_train, y_train)

Ridge(alpha=0.4)

In [30]:
predicted_values2 = linear_model2.predict(X_test)

In [31]:
mse2 = mean_squared_error(y_test, predicted_values2)
rmse2 = np.sqrt(mse2)
print(rmse, rmse2)
rmse == rmse2

93.64046093998029 93.64050398701556

False

##### Question 19

In [32]:
linear_model3 = Lasso(alpha=0.001)

In [33]:
linear_model3.fit(X_train, y_train)

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6136226.882523283, tolerance: 14642.917148544959
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.001)

In [34]:
linear_model3.coef_

array([-3.66514591e-01,  1.62996750e+01, -1.83631778e+01, -1.37372310e+01,
        2.58311018e+01,  4.80204536e+00,  2.78871800e+00,  1.20290031e+00,
       -1.60161226e+00,  2.57537284e-01,  7.36032681e+00,  4.11450127e-01,
        1.03438863e+00, -1.69193633e+00,  9.98826123e+00, -5.77897699e+00,
       -2.11383607e+01, -1.76233760e+00, -1.10595663e+01,  1.70205644e-01,
       -1.09118550e+00,  2.23056597e+00,  2.02534996e-01,  5.68895680e+00,
        3.29580850e-02,  9.48505260e-18])

In [35]:
len(linear_model3.coef_)

26

##### Question 20

In [36]:
predicted_values3 = linear_model3.predict(X_test)

In [37]:
mse3 = mean_squared_error(y_test, predicted_values3)
rmse3 = np.sqrt(mse3)

In [38]:
round(rmse3, 3)

93.64