In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# encoding used because file is not in utf-8 encoding
df = pd.read_csv('data/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding="mbcs")

In [3]:
df.head(2)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

##### Question 11

In [4]:
df.groupby("Item")[["Y2014", "Y2017"]].sum().loc["Animal fats"]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

##### Question 12

In [5]:
round(df.describe()["Y2015"], 3)

count     59395.000
mean        135.236
std        1603.404
min       -3161.000
25%           0.000
50%           0.080
75%           8.460
max      181137.000
Name: Y2015, dtype: float64

##### Question 13

In [6]:
missing_data = df["Y2016"].isna().sum()
percentage = (missing_data / df.shape[0]) * 100
missing_data, round(percentage, 2)

(1535, 2.52)

##### Question 14

In [7]:
df.corr()["Element Code"]["Y2014":]

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
Name: Element Code, dtype: float64

##### Question 15

In [8]:
df.groupby("Element").sum().loc["Import Quantity", "Y2014":]

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

##### Question 16

In [9]:
df.groupby("Element").sum().loc["Production", "Y2014":]

Y2014    1931287.75
Y2015    1947019.39
Y2016    1943537.15
Y2017    2030056.89
Y2018    2075072.89
Name: Production, dtype: float64

In [10]:
df[["Y2018", "Element"]].groupby("Element").sum().sort_values("Y2018", ascending=False).head()

                                    Y2018
Element
Domestic supply quantity       2161192.10
Production                     2075072.89
Food                           1303841.28
Total Population - Both sexes  1140605.00
Food supply (kcal/capita/day)   455261.00

##### Question 18

In [11]:
df[["Y2018", "Element"]].groupby("Element").sum().sort_values("Y2018").head()

                                           Y2018
Element
Tourist consumption                        90.00
Fat supply quantity (g/capita/day)      10258.69
Protein supply quantity (g/capita/day)  11833.56
Stock Variation                         20577.91
Seed                                    25263.14

##### Question 19

In [12]:
df["Element"].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [13]:
df[df["Area"] == "Algeria"][["Element", "Y2018"]].groupby("Element").sum()

                                           Y2018
Element
Domestic supply quantity                90023.42
Export Quantity                           811.54
Fat supply quantity (g/capita/day)        309.09
Feed                                    10668.00
Food                                    63736.33
Food supply (kcal/capita/day)           13288.00
Food supply quantity (kg/capita/yr)      1509.28
Import Quantity                         36238.29
Losses                                   7708.00
Other uses (non-food)                    3970.08
Processing                               2479.00
Production                              60766.67
Protein supply quantity (g/capita/day)    367.28
Residuals                                 630.00
Seed                                      825.00
Stock Variation                          6172.00
Total Population - Both sexes           42228.00

##### Question 20

In [14]:
df["Area"].nunique()

49